:root {
    --dark-back-color : #1c1c1c;
    --dark-light-color : #282828;
    --dark-global-text-color : #FFFFFF;
    --dark-global-text-hover-color : #000000;
    --dark-rank-badge-color : #d5af3f;
    --dark-success-badge-color : #262626;
    --dark-game-box-color : #5e5e5e;
    --dark-points-box-color: #3a3a3a;
    --dark-global-box-color : #303030;
    --dark-global-box-hover-color : #484848;
    --dark-footer-back-color: #121212;
    --dark-admin-panel-back-color: black;
    --dark-card-top-color: #121212;
}

/* Loading animation du site entier */
.brn-placeholder__animation {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeholderWave;
    animation-name: placeholderWave;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: linear-gradient(90deg,#28282800 20%,var(--dark-back-color) 50%,#28282800 80%) !important;
    background-size: 650px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.PlaceholderAnimationBox-module__animation--37g9H {
    background: none !important;
}

/* Notif flash état de modération */
div.flash-messages-container.js-flash-messages.js-flash-messages-container > div > div > div {
    color: var(--dark-back-color) !important;
}


/* ------------------------------------------------------ */
/*                        Bordures                        */
/* ------------------------------------------------------ */

body {
    background-color:var(--dark-back-color);
    color:var(--dark-global-text-color);
}

#html {
    background: var(--dark-back-color);
}

/* Bordures des zones de la homepage */
.sg-box--border-color-gray-20 {
    border-color: var(--dark-light-color) !important;
}

/* Bordures des zones des devoirs */
.brn-feed-item-wrapper {
    border-color: var(--dark-light-color) !important;
}

/* Quelques séparateurs */
.Header-module__subnav--1o8Ox, .sg-horizontal-separator, .GameBoxContainer-module__container--xqNiY>*+* {
    border-color: var(--dark-light-color);
}


/* ------------------------------------------------------ */
/*                         Navbar                         */
/* ------------------------------------------------------ */

/* navbar module */
.Header-module__header--1fyGw, .Header-module__innerwrap--2PyoE, .Header-module__subnav--1o8Ox {
    background:var(--dark-back-color);
    color:var(--dark-global-text-color);
}

/* 'POSE TA QUESTION', cloche' */
.sg-button--transparent {
    color:var(--dark-global-text-color);
}

/* text link (Pour les parents etc...) */
body > div.js-page-wrapper > div > div.brn-header-container > div > div:nth-child(2) > header > div.Header-module__subnav--1o8Ox > div > div > div > div > div:nth-child(1) > span > a,
body > div.js-page-wrapper > div > div.brn-header-container > div > div:nth-child(2) > header > div.Header-module__subnav--1o8Ox > div > div > div > div > div:nth-child(2) > span > a,
body > div.js-page-wrapper > div > div.brn-header-container > div > div:nth-child(2) > header > div.Header-module__subnav--1o8Ox > div > div > div > div > div:nth-child(3) > span > a {
    color:var(--dark-global-text-color);
}

/* Barre de recherche */
input[type=search].sg-search__input {
    background-color: var(--dark-back-color);
    border: var(--dark-light-color) 2px solid;
}
/* Dans la vieille interface */
#html .mint .mint-header .mint-input {
    border-color: white !important;
}


/* ------------------------------------------------------ */
/*                     Contenu central                    */
/* ------------------------------------------------------ */
.sg-layout__container:not(.sg-layout__container--full-page) {
    background:var(--dark-back-color);
    color:var(--dark-global-text-color);
}

/* Texte de la box */
.sg-text:not(
div:nth-child(2) > div.sg-actions-list.sg-actions-list--space-between.sg-actions-list--to-top.sg-actions-list--no-wrap > div:nth-child(2) > div > div > div,
div:nth-child(4) > div.sg-actions-list.sg-actions-list--space-between.sg-actions-list--to-top.sg-actions-list--no-wrap > div:nth-child(2) > div > div > div,
div:nth-child(6) > div.sg-actions-list.sg-actions-list--space-between.sg-actions-list--to-top.sg-actions-list--no-wrap > div:nth-child(2) > div > div > div,
div:nth-child(8) > div > div.sg-content-box__content.sg-content-box__content--spaced-top-large.sg-content-box__content--spaced-bottom-xlarge > div.sg-actions-list.sg-actions-list--to-right.sg-actions-list--to-top > div > div > div,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(1) > div.sg-text.sg-text--xsmall.sg-text--bold.brn-answers-tracking__number.brn-answers-tracking__number--animated,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(2) > div.sg-text.sg-text--xsmall.sg-text--bold,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(3) > div.sg-text.sg-text--xsmall.sg-text--bold.brn-answers-tracking__number.brn-answers-tracking__number--animated,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(4) > div.sg-text.sg-text--xsmall.sg-text--bold,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(4) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(5) > div.sg-text.sg-text--xsmall.sg-text--bold,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(5) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(6) > div.sg-text.sg-text--xsmall.sg-text--bold,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(6) > div:nth-child(3),
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(7) > div.sg-text.sg-text--xsmall.sg-text--bold,
div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div:nth-child(2) > div > div:nth-child(7) > div:nth-child(3)
) {
    color:var(--dark-global-text-color);
}

/* Nombre de points */
.sg-counter--with-icon {
    background:var(--dark-points-box-color);
}
.GameBoxStatItem-module__label--SsXVy {
    background:var(--dark-points-box-color);
}
body > div.js-page-wrapper > div > div.js-react-feed-logged-in > div.sg-layout.sg-layout--wide.sg-layout--three-columns > div > div.sg-layout__aside-content > div.sg-flex.sg-flex--margin-bottom-m > div > div > div > div:nth-child(1) > div > div.sg-flex.sg-space-x-xs > div:nth-child(1) > div > div > div > div > div > div > div.sg-flex.sg-flex--margin-right-xxs > div > svg {
    background:var(--dark-back-color);
    color: white;
}
/* L'icon des points Brainly */
div[data-testid="game_box_stat_item_container"] svg[aria-labelledby="title-points-bqj58g"] use {
    fill: white;
}

/* Textes des boutons */
.sg-button__text {
    color:var(--dark-global-text-color);
}
/* Bordure des boutons */
.sg-button--outline {
    border: 2px solid var(--dark-global-text-color);
}

/* Bouton "Toutes les matières" */
.brn-subject-list__subject--active {
    background-color:var(--dark-global-box-color);
}

/* Icones */
.sg-subject-icon {
    color:var(--dark-global-text-color);
}

/* Selecteurs */
.sg-select__element {
    background: transparent;
    color:var(--dark-global-text-color) !important;
}
.sg-select__element:hover {
    background:var(--dark-global-box-hover-color) !important;
}

/* Barre de progression autour de l'avatar */
canvas.GameBoxProgressBar-module__container--3ukwx {
    display: none;
}
/* L'avatar en question */
.sg-avatar--l {
    width: 85%;
    height: 85%;
}

/* La fenêtre flottante au survol du rang */
div[data-testid="tooltip_content"] * {
    border-radius: 8px !important;
}

/* Les indicateurs à l'ouverture de tooltips (info bulles au survol) */
.sg-bubble--left::before, .sg-bubble--left::after {
    border-right-color: var(--dark-light-color) !important;
}
.sg-bubble--right::before, .sg-bubble--right::after {
    border-left-color: var(--dark-light-color) !important;
}
.sg-bubble--top::before, .sg-bubble--top::after {
    border-bottom-color: var(--dark-light-color) !important;
}
.sg-bubble--bottom::before, .sg-bubble--bottom::after {
    border-top-color: var(--dark-light-color) !important;
}

/* Icon du (B) des crédits */
div.sg-layout__aside-content > div.sg-flex.sg-flex--margin-bottom-m > div > div > div > div:nth-child(1) > div > div.sg-flex.sg-space-x-xs > div:nth-child(1) > div > div > div > div > div > div > div.sg-flex.sg-flex--margin-right-xxs > div > svg {
    border-radius: 24px 0 0 24px;
    background-color: transparent !important;
}
#main-content > div.brn-qpage-layout__right.js-aside-content > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div > div:nth-child(1) > div > div.sg-flex.sg-space-x-xs > div:nth-child(1) > div > div > div > div > div > div > div.sg-flex.sg-flex--margin-right-xxs > div > svg {
    color: var(--dark-global-text-color);
}

/* Section "Ton influence" */
body > div.js-page-wrapper > div > div.js-react-feed-logged-in > div.sg-layout.sg-layout--wide.sg-layout--three-columns > div > div.sg-layout__aside-content > div.sg-flex.sg-flex--full-width.sg-flex--column.sg-space-y-m.brn-ads-full-height > div:nth-child(1) {
    display: none;
}

/* Section "Défis" */
body > div.js-page-wrapper > div > div.js-react-feed-logged-in > div.sg-layout.sg-layout--wide.sg-layout--three-columns > div > div.sg-layout__aside-content > div.sg-flex.sg-flex--full-width.sg-flex--column.sg-space-y-m.brn-ads-full-height > div:nth-child(2) {
    display: none;
}

/* Badge de rang */
.sg-label--yellow-20 {background-color: rgb(255 196 0 / 20%);}
.sg-label--yellow-20 > div {color: #ffc400 !important;}

/* Badges des succès */
.sg-label--indigo-20 {background-color: rgba(79, 179, 246, 0.20);}
.sg-label--indigo-20 div {color: rgba(79, 179, 246, 1) !important;}
.sg-text.sg-text--small.sg-text--bold.sg-cursor-pointer {color: rgba(79, 179, 246, 1) !important;}

/* Bouton 'Voir mes succès' */
.GameBoxLink-module__container--IS_la:hover {
    background:var(--dark-global-box-hover-color);
}

/* Text headline */
.sg-headline:not(body > div.js-page-wrapper > div > div.js-react-feed-logged-in > div.sg-layout.sg-layout--wide.sg-layout--three-columns > div > div.sg-layout__aside-content > div.sg-flex.sg-flex--full-width.sg-flex--column.sg-space-y-m.brn-ads-full-height > div:nth-child(1) > div:nth-child(3) > div > div > div.sg-animation-fade-in-fast > div > div:nth-child(8) > div > div.sg-content-box.brn-answers-per-day__container > div.sg-content-box__content.sg-content-box__content--spaced-bottom > h3) {
    color:var(--dark-global-text-color);
}

/* Boutons 'inverted' */
.sg-button--solid-inverted {
    background:var(--dark-back-color);
}
.sg-button--solid-inverted:hover {
    background:var(--dark-global-box-hover-color) !important;
}

/* Texte de la jauge de réponses */
div:nth-child(1) > div > div > div.brn-answering-streak__counter-wrapper > div.sg-flex.sg-flex--justify-content-center.sg-flex--align-items-center.brn-answering-streak__counter > div > span,
div.sg-flex.sg-flex--margin-bottom-l.brn-answering-streak__carousel-wrapper > div > div > div > div > div > div:nth-child(2) > div > div > div.sg-flex.sg-flex--column.sg-flex--align-items-center.sg-flex--margin-top-xs.sg-flex--margin-bottom-s.brn-answering-streak__icon-container > div.sg-flex.sg-flex--margin-top-s > div
{
    color:var(--dark-global-text-hover-color);
}

/* Pop-up selection des matières */
.sg-toplayer {
    background-color:var(--dark-footer-back-color);
}
/* Dégradé/ombre en bas de la pop-up */
.brn-box--with-opacity:after {
    background: linear-gradient(180deg,hsla(0, 0%,100%,0) 0, var(--dark-back-color));
}
/* Couleur de la fenêtre en chargement après modification */
.brn-favorite-subject-customization-modal-loading {
    background-color: var(--dark-back-color);
    z-index: 2;
}

/* tooltip-content */
div[data-testid="tooltip_content"] * {
    background-color:var(--dark-light-color);
}


/* ------------------------------------------------------ */
/*     Onglet Notifications & MP & Onglet Personnel       */
/* ------------------------------------------------------ */

/* Fond du pop-up */
.NestedUserPanelBubble__content--1kSA_, .UserMenuBubble__bubble--151LI {
    background-color: var(--dark-light-color);
}

/* Coulour de fond des notifs lues */
.NotificationsListItem__read--2I0ce, .MessagesListItem__read--3Shls {
    background-color: #232323 !important;
}

/* Fond des notifs non-lues */
.NotificationsListItem__content--17jCq {
    background-color:  #191919;
}
.NotificationsListItem__clickable--2yDvB:hover {
    background-color: #232323;
}

/* Divider entre les 3 boutons & contenus */
body > div.js-page-wrapper > div > div.brn-header-container > div > div:nth-child(2) > header > div.Header-module__limitWidth--37U5t > div > div.sg-flex.sg-flex--align-items-center.Header-module__childrenWrapper--3RYyB > div > div > div:nth-child(2) > div > div > div:nth-child(1) > div > div > div > div > div.NestedUserPanelTabs__header--39UHl > div.NestedUserPanelTabs__separator--36QC0 {
    border-color: var(--dark-global-box-color);
}
/* Avatar des utilisateurs en notifs */
.sg-avatar--with-border {
    border-color: var(--dark-back-color);
}
/* Bouton de l'onglet */
.sg-button--solid-light {
    background-color: var(--blue-nds);
}
.sg-button--solid-light:hover {
    background-color: var(--blue-hover-nds) !important;
}
.UserMenuList__item--2gisT:hover {
    background-color: #232323;
}


/* ------------------------------------------------------ */
/*                    Liste des devoirs                   */
/* ------------------------------------------------------ */

/* Bulle "Regardent" et "Résolu par" */
.brn-observing-user, .brn-answerer {
    border: var(--dark-back-color) 2px solid !important;
}


/* ------------------------------------------------------ */
/*                         Footer                         */
/* ------------------------------------------------------ */

.FooterLayout-module__footer--jB_Pv {
    background-color:var(--dark-footer-back-color);
}

/* Selection de la langue */
.LanguageAndRegionSwitcher-module__container--3sFDu {
    background-color: var(--dark-light-color);
}


/* ------------------------------------------------------ */
/*                     Side menu modo                     */
/* ------------------------------------------------------ */

.brn-moderation-panel__content {
    background-color:var(--dark-admin-panel-back-color);
}

/* texte de 'Thème sombre' */
#span-button-theme {
    color:var(--dark-global-text-color) !important;
}

/* Forcer une animation d'ouverture/fermeture du panel de modération à droite */
.brn-moderation-panel__content {
    border-radius: 8px 0 0 8px;
    transform: translateX(0px);
    transition: 200ms;
}
.brn-moderation-panel__content.js-hidden {
    transition: 200ms;
    transform: translateX(100%);
    display: block !important;
}


/* ------------------------------------------------------ */
/*                   Page de modération                   */
/* ------------------------------------------------------ */

/* Navbar */
#main-panel {
    background: var(--dark-back-color) !important;
    color: var(--dark-light-color) !important;
    border-bottom: 1px solid var(--dark-global-text-color);
}

/* background */
#html .mint {
    background: var(--dark-light-color) !important;
}

/* application centre */
#content {
    background: var(--dark-back-color) !important;
}

/* background application centre */
#moderation-all .top .sub-header {
    background-color: var(--dark-back-color);
}

/* card box 'ID' */
#moderation-all .content .moderation-item .header {
    background-color: var(--dark-card-top-color);
}
#moderation-all .content .moderation-item .header:hover {
    background-color: var(--dark-card-top-color) !important;
}

/* card contenu */
#moderation-all .content .moderation-item .content {
    background-color: var(--dark-light-color);
}
#moderation-all .content .moderation-item .content:hover {
    background-color: var(--dark-card-top-color) !important;
}

/* Card survol */
#moderation-all .content .moderation-item:hover .content {
    background-color: var(--dark-card-top-color) !important;
}

/* Card modération déjà réservée */
div[style="background-color: rgb(238, 170, 170);"] {
    background-color: #bd362f !important;
}


/* text du contenu des cartes */
.content > .body > p {
    color: var(--dark-global-text-color);
}

/* selection de matière et catégorie */
#moderation-all .top .sub-header select {
    background: var(--dark-light-color);
    color: var(--dark-global-text-color);
}

/* pop-up modération background */
#toplayer .contener-center .contener .content {
    background-color: var(--dark-back-color);
}

/* pop-up modération box question */
#toplayer .contener-center.mod .moderation-toplayer .moderation-task .boxxy {
    background-color: var(--dark-light-color);
}

/* pop-up modération texte */
#toplayer .contener-center.mod .moderation-toplayer .moderation-task.reported .boxxy.text {
    background-color: var(--dark-light-color);
    border: 1px solid var(--dark-global-text-color);
}

/* pop-up modération historique */
#toplayer .contener-center.mod .moderation-toplayer .moderation-taskline .boxxy {
    background-color: var(--dark-light-color);
}

/* pop-up modération historique texte */
#toplayer .contener-center.mod .moderation-toplayer .moderation-taskline .caption {
    color: var(--dark-global-text-color);
}

/* pop-up modération historique texte description */
#toplayer .task_lines .description {
    color: var(--dark-global-text-color) !important;
}

/* pop-up modération réponse */
#toplayer .contener-center.mod .moderation-toplayer .moderation-response .boxxy {
    background-color: var(--dark-light-color);
}

/* pop-up modération texte de la réponse */
#toplayer .contener-center.mod .moderation-toplayer .moderation-response.reported .boxxy.text {
    background-color: var(--dark-light-color);
}

/* 'Historique > Lycée > ID' */
#toplayer .contener-center.mod .moderation-toplayer .moderation-task .caption, #toplayer .contener-center.mod .moderation-toplayer .moderation-response .caption {
    color: var(--dark-global-text-color)
}

/* changement de la couleur de la box quand une réponse/question est supprimée */
#toplayer .contener-center.mod .moderation-toplayer .moderation-response.removed .boxxy.text {
    background-color: #ad5656;
}

/* changement de la couleur de la box quand une réponse/question est confirmée */
#toplayer .contener-center.mod .moderation-toplayer .moderation-task.accepted .boxxy.text {
    background-color: #5f8b4d;
    border: 1px solid #3F8E00;
}

/* navbar notification */
#main-panel .menu-right .menu-element#panel-notifications .footer, #main-panel .menu-right .menu-element#panel-notifications .header {
    background-color: var(--dark-back-color);
    color: var(--dark-global-text-color);
}
#main-panel .menu-right .menu-element#panel-notifications .notifications-container .notifications li.notification {
    background-color: var(--dark-light-color);
    color: var(--dark-global-text-color);
}
#main-panel .menu-right .menu-element#panel-notifications .notifications-container .notifications li.notification .main .content .message {
    color: var(--dark-global-text-color);
}

/* navabar messages */
#main-panel .menu-right #panel-messages .header {
    background-color: var(--dark-back-color);
}
#main-panel .menu-right #panel-messages .messages-container ul.threads> li .main .content {
    color: var(--dark-global-text-color);
}
#main-panel .menu-right #panel-messages .messages-container ul.threads> li {
    background-color: var(--dark-light-color);
}

/* navbar community (logo bonhomme) */
#main-panel .menu-right li#community_new ul.community, #main-panel .menu-right li#community_new ul.community .header, #html .mint #main-panel .menu-right #community_new .buddy-show-all {
    background-color: var(--dark-light-color);
    color: var(--dark-global-text-color)
}
#main-panel .menu-right li#community_new ul.community #community > ul li.ui-tabs-selected {
    background-color: var(--dark-back-color);
    color: var(--dark-global-text-color)
}

/* bouton 'Charger plus' */
#moderation-all .content .loader {
    background-color: transparent !important;
    color: var(--dark-global-text-color) !important;
    border: none !important;
}

/* navbar profile */
#main-panel .menu-element.current.profile .profile-content {
    background-color: var(--dark-light-color);
    color: var(--dark-global-text-color);
}
#main-panel .menu-right .footer {
    background-color: var(--dark-back-color);
}
#html .mint #main-panel .menu-right .menu-element .name span,
#main-panel .menu-element.current.profile .profile-content .right > a
{
    color: var(--dark-global-text-color) !important;
}
#html .mint #main-panel .menu-right .menu-element .name span:hover,
#main-panel .menu-element.current.profile .profile-content .right > a:hover
{
    background-color: var(--dark-back-color) !important;
}

/* panel modération à gauche */
#moderate-functions-panel .statistics .content-scroll,
#moderate-functions-panel .content-scroll a,
#moderate-functions-panel .content-scroll a.bolded,
#moderate-functions-panel .statistics span.black
{
    color: var(--dark-global-text-color);
}
#moderate-functions-panel .content-scroll {
    background-color: var(--dark-back-color);
}
#moderate-functions-panel .covering-text {
    background-color: var(--dark-light-color);
}
#moderate-functions-panel .covering-text:hover {
    background-color: var(--dark-global-box-hover-color);
}
#moderate-functions-panel .statistics h4 {
    color: #55c35e;
}

/* moderation footer */
#html .mint #footer {
    background: var(--dark-footer-back-color);
}

/* moderation barre de recherche */
#html .mint .mint-header .mint-input {
    background-color: var(--dark-back-color);
    border: var(--dark-light-color) 2px solid;
    color: var(--dark-global-text-color)
}

/* filtre lorsque l'on ouvre la moderation d'une question/réponse */
#toplayer {
    background-color: rgb(50 50 50 / 50%);
}

/* Moderation border navbar */
#html .mint .mint-header {
    border-bottom: 2px solid var(--dark-global-box-hover-color);
}

/* moderation border footer */
#footer {
    border-color: var(--dark-global-box-hover-color);
}

/* moderation panel gauche border */
#moderate-functions-panel .content-scroll {
    border-color: var(--dark-global-box-hover-color);
}

/* Icons de la navbar -- anciennes interface */
/* Interface du haut */
#html .mint #main-panel .menu-right #panel-messages>a::before {
    content: url('https://raw.githubusercontent.com/sugiiiiii/nds-moderaton-ui-ext/main/images/host/envelope-alt-dark.svg') !important;
}

#html .mint #main-panel .menu-right #panel-notifications>a::before {
    content: url('https://raw.githubusercontent.com/sugiiiiii/nds-moderaton-ui-ext/main/images/host/bell-dark.svg') !important;
}

#html .mint #main-panel .menu-right #community_new>a::before {
    content: url('https://raw.githubusercontent.com/sugiiiiii/nds-moderaton-ui-ext/main/images/host/user-dark.svg') !important;
}

.mint-icon-search::before, .mint-sticker--search::before, .mint-label__icon--search::before {
    content: url('https://raw.githubusercontent.com/sugiiiiii/nds-moderaton-ui-ext/main/images/host/search-dark.svg') !important;
}


/* ------------------------------------------------------ */
/*                Right side theme button                 */
/* ------------------------------------------------------ */

/* Theme button */
#theme-button-span {
    color: white;
}

/* ------------------------------------------------------ */
/*                     Page de devoir                     */
/* ------------------------------------------------------ */

/* Section commentaire */
.Comments-module__comments--3qGAy {
    border-top: none !important;
}
.sg-textarea {
    color: white;background: var(--dark-light-color);
    border: var(--dark-light-color);
}
.sg-textarea:hover {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-light-color);
}
.sg-textarea:focus, .sg-textarea:active, .sg-textarea:focus:hover, .sg-textarea:active:hover {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-light-color);
    outline: none;
}

/* Question supprimée */
.QuestionBoxLayout-module__contentDeleted--1Y_Fn {
    background-color: #dd4a35;
}

/* Bordures & fonds des zones */
.QuestionBoxLayout-module__box--3D9pn {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-light-color);
}
.sg-box--gray-10 {
    background-color: var(--dark-back-color);
}
.brn-qpage-next-question-activity {
    border: 2px solid var(--dark-light-color);
}
.brn-qpage-layout {
    background-color: var(--dark-back-color);
}
.sg-box--white {
    background-color: var(--dark-back-color);
}

/* Icônes svg */
.brn-qpage-next-question-activity svg {
    fill: white;
}
article[aria-label="Question"] svg {
    fill: white;
}

/* Les infos du devoirs (classe, matière, date) */
/* Les infos de celui qui a répondu */
ul[data-testid="question_box_header_breadcrumbs"] li *, 
li.HorizontalList-module__item--2xXqD div *, 
li.HorizontalList-module__item--2xXqD div {
    color: #687b8c !important;
    font-weight:600;
}

/* Badge "Résolu" */
.sg-label--gray-20 {
    background-color: var(--dark-light-color);
}

/* Bouton "Voir les réponses" */
.SeeAnswersButton-module__buttonCounter--1LAZ_ > div > div {
    color: var(--blue-nds) !important;
}

/* Cadre de réponse */
.AnswerBoxLayout-module__box--2yed7 {
    background-color: transparent;
    border: 2px solid var(--dark-light-color);
}
.AnswerBoxHeader-module__header--2JjZN {
    border-color: var(--dark-light-color);
}

/* Réponse vérifié par expert */
.AnswerBoxLayout-module__boxExpertVerified--Ljdgc div[data-testid="answer_box_header"] {
    background-color: var(--green-nds);
    border-radius:5px;
}
div[data-testid="answer_box_header"] use {
    fill: white;
}
.AnswerBoxLayout-module__boxExpertVerified--Ljdgc {
    border: 2px solid var(--green-nds) !important;
}

/* Afficher les equations LaTeX avec un fond blanc */
div[data-testid="answer_box_text"] img {
    padding: .7em;
    border-radius: 8px;
    background-color: #c6c6c6;
}

/* Pastilles avatar UNTEL ont trouvé ça utile */
.CommunityAvatar-module__avatar--1HfE_ {
    border-color: var(--dark-back-color);
}

/* Vous cherchez plus de réponses ? */
div[data-testid="looking_for_more_banner"] {
    display: none;
}

/* Box 'réponse en train d'être rédigé */
.brn-qpage-next-answer-box {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-light-color);
}

/* ------ Répondre ------ */
/* Navbar */
.sg-header__container {
    background-color: var(--dark-back-color);
    border-bottom: 2px solid var(--dark-light-color);
}
/* Background */
.brn-answer-editor-layer {
    background-color: var(--dark-back-color);
}
/* Text editor widgets */
.TextEditor__editorBox--1QkjX {
    background-color: black !important;
}
/* Text editor container */
.TextEditor__editor--14ZAy {
    background-color: var(--dark-light-color) !important;
}
/* LaTex */
.Toolbar__equationsPreview--3h-kb {
    background-color: var(--dark-light-color) !important;
}
.sg-math-symbol-icon--icon-gray-70 {
    color: var(--dark-global-text-color) !important;
}
img[data-testid="answer_editor_equations_preview_image"] {
    background-color: white !important;
}
.Toolbar__toolbarShelf--3Yqju {
    background-color: var(--dark-back-color) !important;
}


/* ------------------------------------------------------ */
/*            Pop-up modération sur page devoir           */
/* ------------------------------------------------------ */

/* Background */
#moderate-task-toplayer {
    background-color: var(--dark-back-color);
}

/* Box question et réponses */
#moderate-task-toplayer .toplayer-body .contents .boxxy {
    background-color: var(--dark-light-color);
}

/* Nom d'utilisateur */
#moderate-task-toplayer .toplayer-body .contents .boxxy .body .nick>a {
    color: #0488cc;
}

/* Rang */
#moderate-task-toplayer .toplayer-body .moderation-response .rank {
    color: #d0b73b;
}

    /* Titre de la Pop-up */
#moderate-task-toplayer .toplayer-header .heading {
    color: var(--dark-global-text-color);
}

/* Stats */
#moderate-task-toplayer .toplayer-body .contents .boxxy .body .nick {
    color: #6e6e6e
}

/* Message de succès (temps prolongé) */
.sg-flash__message--success {
    background-color: #2dcd7d;
}

/* Select pour temps à prolonger */
select[name="extend-ticket-time"] {
    background-color: var(--dark-light-color);
}

/* Bouton prolonger le temps */
#moderate-task-toplayer > div > header > div.mod-info > div > span {
    background-color: var(--dark-light-color);
}

/* Bouton confirmer */
#moderate-task-toplayer .btn-warning {
    background: #0e5c0a;
}

/* Boutons de sous catégorie */
span.subcategories[style="display: inline;"] > input {
    background-color: var(--dark-back-color) !important;
    box-shadow: 0 0 3px 1px var(--dark-back-color) !important;
    color: var(--dark-global-text-color);
}
span.subcategories[style="display: inline;"] > input:hover {
    background-color: var(--dark-global-box-hover-color) !important;
    color: var(--dark-global-text-color) !important;
}

/* Input 'Donnez plus d'infos...' */
#moderate-task-toplayer .toplayer-body .contents .boxxy .text-reason {
    background: var(--dark-back-color);
    color: var(--dark-global-text-color);
}

/* Bouton annuler */
.moderation-response .action-box.action-delete.boxxy.opened > div > p:last-child > button.resign {
    background-color: var(--dark-back-color) !important;
}
.moderation-response .action-box.action-delete.boxxy.opened > div > p:last-child > button.resign:hover {
    color: var(--dark-global-text-color) !important;
    background-color: var(--dark-global-box-hover-color) !important;
}

/* Question signalée pop-up modération */
#moderate-task-toplayer .toplayer-body .moderation-task.reported>.contents>.boxxy.text {
    background-color: #38310b;
}


/* ------------------------------------------------------ */
/*                     Page des succès                    */
/* ------------------------------------------------------ */
/* = Les badges, les défis, les exploits */

/* Modal au clic sur un badge */
.AchievementDetailsModalWrapper-module__modal--1JdHJ {
    background-color: var(--dark-back-color);
    border-radius: 5px;
}
button[aria-label="Close this dialog window"] use {
    fill: white !important;
}

/* Couleurs de fond des badges */
.CustomAchievementBadge-module__gray--3MXv8 {
    background-color: var(--dark-light-color);
}
/* Couleur des badges obtenus (jaunes) */
div.CustomAchievementBadge-module__yellow--31pB7 {
    background-color: rgb(255 196 0 / 20%);
}

/* Ombre de l'icône dans le badge */
.CustomAchievementBadge-module__gray--3MXv8 .CustomAchievementBadge-module__shadow--1Mv32:after {
    opacity: 10%;
}
div.CustomAchievementBadge-module__yellow--31pB7 .CustomAchievementBadge-module__shadow--1Mv32:after {
    opacity: 25%;
}
/* Couleur de l'icône du badge */
ul[data-testid="achievements_list_template"] use, div[data-testid="custom_achievement_badge"] use {
    fill: white;
}

/* Progress bar */
.AchievementProgress-module__progressBar--2kjcH {
    background-color: var(--dark-light-color);
}

/* Indicateur de progression jaune */
div.AchievementLevelLabel-module__label--V4Nti .sg-text, div.AchievementLevelLabel-module__label--V4Nti use {
    color: var(--yellow-nds) !important;
    fill: var(--yellow-nds) !important;
}

/* Bannière du dessus expliquant le concept */
div[data-testid="achievements_banner"] {
    background: var(--dark-light-color);
}

/* Liste des badges */
ul[data-testid="achievements_list_template"] {
    border: 2px solid var(--dark-light-color);
}
.AchievementsListTemplate-module__listItem--1YSJc+* {
    border-color: var(--dark-light-color);
}

/* ------------------------------------------------------ */
/*                  Page profil (new UX)                  */
/* ------------------------------------------------------ */

/* Bannière du profil */
.Wallpaper__wallpaper--ffCjw {
    background: var(--dark-light-color) !important;
}

/* Texte dans les boutons */
a[aria-current="page"] h2 {
    color: var(--blue-nds) !important;
}

/* Divider entre les stats personnelles */
div.brn-qpage-next-answer-box-user-info__stats-list-item::after {
    border: 1px solid var(--dark-light-color) !important;
}

/* Badge de rang */
div.sg-label--yellow-20 h2 {
    color: var(--yellow-nds) !important;
}

/* Boutons bleu clair */
.sg-button--solid-light {
    background-color: var(--blue-nds);
}

/* Icons dans les boutons */
.sg-button__icon use {
    fill: white;
}

/* (B) Nombre de points */
svg[aria-labelledby="title-points-k8ih9g"] use {
    fill: white;
}
.sg-counter__icon-container::before {
    background-color: inherit;
}

/* Liste d'amis */
div[data-testid="profile_page_friends"] {
    background: none;
    border: 2px solid var(--dark-light-color);
}

/* Label "Meilleure réponse" */
div.sg-label--yellow-20 use {
    fill: var(--yellow-nds);
}

/* Label "Vérifiée par des experts" */
.sg-label--green-20 {
    background-color: #2b3e35 !important;
}
.sg-label--green-20 .sg-label__text {
    color: var(--green-nds) !important;
}
.sg-label--green-20 use {
    fill: var(--green-nds) !important;
}
/* ------------------------------------------------------ */
/*               Profile page (old version)               */
/* ------------------------------------------------------ */

/* Bande extérieure */
div#content-old {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-global-box-hover-color) !important;
}

/* background central */
#profile {
    background-color: var(--dark-back-color);
}

/* profile carre */
#html .mint #profile #main-left .personal_info {
    border: 2px solid var(--dark-global-box-hover-color);
}

/* Texte important (username, nombre de points...) */
.mint-header-secondary, .mint-cake-heading, #html .mint #profile #main-left .personal_info .header .info .info_top .ranking h2 a, #html .mint #profile #main-left .personal_info .header .info .info_top .rank h3 span, #html .mint #profile #main-left .personal_info .header .info .info_top .points h1, #html .mint #profile h3
{
    color: var(--dark-global-text-color);
}


/* 'Prénom, Age, Niveau' */
#html .mint #profile #main-left .personal_info .extra-info li span,
#html .mint #profile #main-left .personal_info .extra-info li
{
    color: var(--dark-global-text-color);
}

/* Rang */
#main-left > div.personal_info > div.header > div.info > div.info_top > span.rank > h3 > a {
    color: #d0b73b !important;
}

/* Séparateur entre les réponses */
#html .mint #profile #main-left .tasks-list .task {
    border-bottom: 2px solid var(--dark-global-box-hover-color);
}

/* Texte des questions */
div#content-old ol.tasks-list .task .task-content a {
    color: var(--dark-global-text-color);
}

/* Boutons navbar */
#html .mint #tabs-doj #main_menu>li {
    background-color: var(--dark-light-color);
    color: var(--dark-global-text-color);
}


/* ------------------------------------------------------ */
/*                  Liste des modérateurs                 */
/* ------------------------------------------------------ */

/* box de rang */
#html div.user-data .user-nick {
    background-color: var(--dark-back-color);
    border: 1px solid var(--dark-global-box-hover-color);
}
#html div.user-data .user-nick:hover {
    border: 1px solid var(--dark-global-box-hover-color);
}

/* nombre de points et actions aujourd'hui */
div#main-right div.beige-background {
    border: 2px solid var(--dark-global-box-hover-color);
}
.beige-background {
    background-color: var(--dark-light-color);
}

/* Prochain rang */
div.nextAvailableRank {
    color: var(--dark-global-text-color);
}

/* 'Amis actifs' */
div#main-right h3.cufonable {
    color: var(--dark-global-text-color);
}

/* ------------------------------------------------------ */
/*            Page classement des moderateurs             */
/* ------------------------------------------------------ */

/* Animation navbar */
.brn-placeholder__animation {
    display: none;
}

/* Navbar */
.brn-header-placeholder {
    background-color: var(--dark-back-color);
    border: 2px solid var(--dark-light-color);
}
.brn-header-placeholder__inner-wrapper,
.brn-header-placeholder__subnav
{
    background-color: var(--dark-back-color);
}
.brn-header-placeholder__subnav-wrapper:after {
    background-color: var(--dark-light-color);
}

/* Elements de préchargement inutiles */
body > div.js-page-wrapper > div > div.brn-header-container > div > header > div > div.brn-header-placeholder__inner-wrapper > div.sg-flex.sg-flex--align-items-center.brn-header-placeholder__children-wrapper > div > div.sg-flex.sg-flex--full-width.sg-flex--column > div > div > div.sg-hide-for-medium-down.sg-flex.sg-flex--full-width,
body > div.js-page-wrapper > div > div.brn-header-container > div > header > div > div.brn-header-placeholder__subnav-wrapper > div > div.sg-flex.sg-flex--full-width.sg-flex--column.brn-header-placeholder__subnav-texts > div
{
    display: none;
}

/* Tables des listes */
.brn-data-table__row {
    background-color: var(--dark-global-box-hover-color);
}
.brn-data-table__row:nth-child(2n) {
    background: #565656;
}

/* Footer */
.brn-footer {
    background-color: var(--dark-footer-back-color);
}


/* ------------------------------------------------------ */
/*                       Messagerie                       */
/* ------------------------------------------------------ */

/* Message previex text */
.sg-media__content {
    color: var(--dark-global-text-color);
}

/* Message preview box */
.sg-media--clickable {
    background-color: var(--dark-light-color);
}
.sg-media--clickable:hover {
    background-color: var(--dark-global-box-hover-color);
}

/* Contours */
.sg-box--border {
    border: 2px solid var(--dark-light-color);
}
.brn-messages__conversations:after {
    border-right: 2px solid var(--dark-light-color);
}

/* Input */
.brn-chatbox__footer {
    background: var(--dark-back-color);
}
.sg-textarea--nested {
    border: none !important;
}
.sg-textarea:focus {
    background: var(--dark-light-color);
}

/* Couleurs des messages */
.sg-box--blue-40 {
    background-color: #00395e;
}
.sg-box--gray-40 {
    background: #30485c;
}

/* ------------------------------------------------------ */
/*                    Edit user Profile                   */
/* ------------------------------------------------------ */

/* Button */
div#content-old .editProfileContent .editProfileList>li>a:hover {
    background-color: var(--dark-global-box-hover-color);
}
div#content-old .editProfileContent .editProfileList>li.choosen>a {
    background-color: #000000;
}
/* Button text */
div#content-old .editProfileContent .editProfileList>li>a {
    color: var(--dark-global-text-color);
}
/* Background */
div#content-old .editProfileContent .editBox {
    background-color: var(--dark-light-color);
}
/* Legend */
div#content-old .editProfileContent .editBox legend {
    color: var(--dark-global-text-color);
}
/* Bouton 'supprimer mon compte' */
div#content-old a.delete_account {
    background-color: darkred;
}
/* 'Mail' */
/* Navbar */
.Header-module__header--1fyGw, .Header-module__innerwrap--2PyoE {
    background: var(--dark-back-color) !important;
}
.Header-module__subnav--1o8Ox {
    background-color: var(--dark-back-color) !important;
    border-bottom: 2px solid var(--dark-light-color) !important;
}

/* ------------------------------------------------------ */
/*                     Rank list Page                     */
/* ------------------------------------------------------ */

/* L'icon des points Brainly */
body > div.js-page-wrapper > div > div.sg-layout__container.js-main-container > aside > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div > div:nth-child(1) > div > div.sg-flex.sg-space-x-xs > div:nth-child(1) > div > div > div > div > div > div > div.sg-flex.sg-flex--margin-right-xxs > div > svg > use
{
    color: white;
}
/* 'Ton influence' */
body > div.js-page-wrapper > div > div.sg-layout__container.js-main-container > aside > div > div.sg-flex.sg-flex--full-width.sg-flex--column.sg-space-y-m.brn-ads-full-height
{
    display: none;
}
/* Container description rang */
.brn-rank-container {
    background-color: var(--dark-back-color);
}

/* ------------------------------------------------------ */
/*         Nosdevoirs presentation/Help Page              */
/* ------------------------------------------------------ */

/* Navbar background */
.hero {
    background: var(--dark-light-color);
}
.main-header--sticky {
    background: var(--dark-light-color);
}

/* Gros texte */
.sg-text-bit--black {
    color: var(--dark-global-text-color);
}

/* Last button navbar */
.main-header__link:last-child {
    background-color: var(--dark-back-color);
}

/* Navbar bottom button */
.quick-navigation__list-item a {
    color: var(--dark-global-text-color);
}

.values-item--light-blue {
    color: var(--dark-light-color);
}

/* Info bar */
.info-bar {
    background: var(--dark-light-color);
}

/* Footer */
.main-footer {
    background: var(--dark-footer-back-color);
}

/* Footer button */
.dropdown--alt .dropdown__select {
    background-color: var(--dark-light-color);
}
.dropdown--alt .dropdown__select:hover {
    background-color: var(--dark-global-box-hover-color);
}

/* Footer text */
body > footer > div > div.main-footer__first.small-12.medium-12.large-2 > div > p:nth-child(4)
{
    color: var(--dark-global-text-color);
}

/* 'Nous savons pourquoi tu es ici...' */
.hero:not(.hero--single-position) .column p {
    color: var(--dark-global-text-color);
}
.promise__item--filled:after {
    background-color: var(--dark-light-color);
}
.promise__item:after {
    border: 16px solid var(--dark-light-color);
}
.quote__inner {
    background: var(--dark-light-color);
}

/* Parents */
.hero.brainly-plus {
    background: var(--dark-light-color);
}
.values-item--filled:after {
    background-color: var(--dark-light-color);
    border-color: var(--dark-light-color);
}
.hero.school_teachers {
    background: var(--dark-light-color);
}
.form__column {
    background: var(--dark-light-color);
}
body > main > section.values > div:nth-child(2) > div > div:nth-child(1),
body > main > section.values > div:nth-child(2) > div > div:nth-child(3)
{
    color: var(--dark-light-color) !important;
}

/* Bénévoles */
.cards .card__item {
    border: 16px solid var(--dark-light-color);
    background: var(--dark-back-color);
}
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(1) > div.opinions-item.together-item__meta > p,
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(1) > div.opinions-item__inner.together-item__inner > p,
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(2) > div.opinions-item.together-item__meta > p,
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(2) > div.opinions-item__inner.together-item__inner > p,
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(3) > div.opinions-item.together-item__meta > p,
body > main > section.opinions > div:nth-child(2) > div > div:nth-child(3) > div.opinions-item__inner.together-item__inner > p
{
    color: var(--dark-global-text-color);
}

/* Code d'hooneur */
.hero.code {
    background: var(--dark-light-color);
}
.columns__border:after {
    border-color: var(--dark-light-color);
}
body > main > section:nth-child(6) > div > div > div
{
    color: var(--dark-light-color) !important;
}

/* Nos politiques */
.sg-dropdown__items {
    background-color: var(--dark-light-color);
    color: var(--dark-global-text-color);
}
.sg-dropdown__item-hole:hover, .sg-dropdown__item-hole:active {
    background-color: var(--dark-global-box-hover-color);
}
.hero.honor {
    background: var(--dark-light-color);
}
body > main > section:nth-child(5) > div > div > div
{
    color: var(--dark-light-color) !important;
}

/* Centre d'aide */
.hero.safety {
    background: var(--dark-light-color);
}
